/* Replicate the animation for every browser: */

@-webkit-keyframes turnGear {
 0% { -webkit-transform: rotate(0deg); }
    
 100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes turnGear {
 0% { -o-transform: rotate(0deg); }
    
    100% { -o-transform: rotate(359deg); }
}
@-moz-keyframes turnGear {
 0% { -moz-transform: rotate(0deg); }
    
    100% { -moz-transform: rotate(359deg); }
}
@keyframes turnGear {
 0% { transform: rotate(0deg); }
    
    100% { transform: rotate(359deg); }
}

/* create the animation for the other gear*/

@-webkit-keyframes turnrGear {
 0% { -webkit-transform: rotate(0deg); }
    
 100% { -webkit-transform: rotate(-359deg); }
}
@-o-keyframes turnrGear {
 0% { -o-transform: rotate(0deg); }
    
 100% { -o-transform: rotate(-359deg); }
}
@-moz-keyframes turnrGear {
 0% { -moz-transform: rotate(0deg); }
    
 100% { -moz-transform: rotate(-359deg); }
}
@keyframes turnrGear {
 0% { transform: rotate(0deg); }
    
 100% { transform: rotate(-359deg); }
}
/* -- Create a class to both call and add additional properties to the animation --*/

.rgear {
-webkit-animation: turnrGear 4s linear infinite;
-o-animation: turnrGear 4s linear infinite;
-moz-animation: turnrGear 4s linear infinite;
animation: turnrGear 4s linear infinite;
}
.gear {
-webkit-animation: turnGear 4s linear infinite;
-o-animation: turnGear 4s linear infinite;
-moz-animation: turnGear 4s linear infinite;
animation: turnGear 4s linear infinite;

}

